@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



header h1 {
  width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-family:cursive;
}

.color-container h2, .fonts-container h2, #page_elements h1, #page_elements{
 padding: 20px 0px 0px 10px;
}



.color-container, .fonts-container, #page_elements {
  width: 80%;  
  background-color: whitesmoke;
  margin: 0 auto;
  margin-top: 30px;
  padding-bottom: 70px;
}

.colors {
display: flex;
margin-top: 20px;
flex-wrap: wrap;
justify-content: center;
flex-direction: row;
row-gap: 30px;
}



.color_1, .color_2, .color_3, .color_4 {
  width: 300px;
  padding: 40px 30px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.color_1 {
  background-color: 	#ffe4c4;
}
.color_2 {
  background-color: #fff8dc;
}
.color_3 {
  background-color: #e6e6fa;
}
.color_4 {
  background-color: #faf0e6	;
}

.testing {
  display: flex;
  padding: 25px 20px 0;
  justify-content: space-between;
 } 

.testing h3 {
  font-size: 30px;
}

.cursive{
  font-family: cursive;
  margin-top: 5px;  
  font-weight: 700;
}

.testing .cursive .plain p{
  color: aquamarine;
}


.verdana {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  margin-top: 8px;
  
}

.verdana .bold {
  margin-top: 7px;
}

.verdana_plain {
margin-top: -9px;
}

.verdana .verdana_bold {
  line-height: 24px;
  font-size: 15px;
  font-weight: 700;
}

.verdana_italics_underline {
  font-style: italic;
  text-decoration: underline;
}


.poppins {
 margin-top: 6px;
 font-family: 'Poppins', sans-serif;
 font-weight: 700;
 
 width: 50%;
 margin-right: 10px;
}



.source_sans_pro {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 700;
}

.other_elements {
  padding: 25px 20px 0;
  
}

#page_elements span {
  font-size: 30px;
  font-family:cursive;
}

.other_elements li {
  margin-left: 50px;
}

#main_page_header {
  margin-left: 70px;
}

#main_page_header h1 {
  margin-left: -60px;
  margin-bottom: 20px;
}

.other_elements h2, .other_elements p {
  margin-bottom: 20px;
}

.other_elements p  {
  margin-top: 20px;
  margin-left: 3px;
}
